{% extends 'base.html.twig' %}

{% block title %}Création d'une boite{% endblock %}

{% block body %}

    <div class="container">
        <h1>Créer une nouvelle boite</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer la nouvelle boite</button>

        {{ form_end(form) }}        
    </div>

{% endblock %}